#sign-in
  %h1
    Sign In
    %span
      - if devise_mapping.registerable? && controller_name != 'registrations'
        = link_to "Sign up", new_registration_path(resource_name)
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:autocomplete => "off"}) do |f|
    %fieldset
      = f.label :username, "User Id"
      = f.text_field :username, :autofocus => true, :class=>"span3"
    %fieldset
      = f.label :password
      = f.password_field :password, :class=>"span3"
    %fieldset
      .helper
        = render "devise/shared/links"
      %br
      = f.submit "Sign In" ,:class=>"btn btn-primary"
