!!!
%html
  %head
    %title Generic App
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "no-cache", "http-equiv" => "Cache-control"}
    %meta{:content => "no-store", "http-equiv" => "Cache-control"}
  %body#generic-app
    .header
      = render :partial => 'layouts/header'
    .content
      - if notice
        %p.notice
          - if notice.is_a?(Array)
            - notice.each do |notice|
              = notice
              %br
          - else
            = notice
      - if alert
        %p.alert= alert
      = yield
